body {
  background: rgb(148, 208, 243);
  margin: 0;
}
.pageWrapper {
  width: 100%;
  margin: 0 auto;
}
.imgWrapper {
  text-align: center;
  margin-top: 20px;
  margin: auto;
  width: 20%;
}

.imgWrapper img {
  width: 100%;
}

.addImgWrapper {
  margin-right: 70px;
}

.headerHomepage {
  font-size: 50px;
  font-family: "Annie Use Your Telescope";
  background-color: #ffffffbb;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  border-color: white;
  margin: 5%;
}
.secondHeader {
  font-size: 40px;
  font-family: "Annie Use Your Telescope";
  text-align: center;
}
.headerPage {
  font-family: "Annie Use Your Telescope";
  background-color: #ffffffbb;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: thick;
  border-radius: 50%;
  border-color: white;
  margin: 5%;
  text-align: center;
  font-size: 50px;
}
.btn-home {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 3vw;
  font-family: "Annie Use Your Telescope";
}
.fruitWrapper {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
}
.firstBananas {
  width: 23%;
  display: inline-block;
  text-align: center;
}
.firstApples {
  width: 20%;
  display: inline-block;
  text-align: center;
  margin-left: 5%;
}

.firstPineapple {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.firstCherry {
  width: 20%;
  display: inline-block;
  text-align: center;
  margin-left: 7%;
}
.firstPear {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.firstOrange {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.firstStrawberry {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.firstPerson {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.bananaImage {
  margin: 1px 4px 10px;
  width: 30%;
  background: rgb(148, 208, 243);
}
.appleImage {
  width: 30%;
  margin: 0 6px;
}
.pineappleImage {
  width: 30%;
  margin: 0 6px;
}
.cherryImage {
  width: 30%;
  margin: 0 6px;
}
.pearImage {
  width: 30%;
  margin: 0 6px;
}
.orangeImage {
  width: 30%;
  margin: 0 6px;
}
.strawberryImage {
  width: 30%;
  margin: 0 6px;
}
.personImage {
  width: 20%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numbersWrapper {
  display: flex;
  align-self: center;
  margin-left: 5px;
}
.operators {
  align-self: center;
  font-size: 12vw;
  font-weight: bold;
  font-family: "Courier New";
  margin-left: 5px;
  margin-right: 5px;
}
.numbers {
  text-align: center;
  background: white;
  font-family: "Annie Use Your Telescope";
  font-size: 12vw;
  width: 20%;
  border: 8px solid lightpink;
  border-radius: 50%;
}
.submitButton {
  font-size: 8vw;
  font-family: "Annie Use Your Telescope";
  border-radius: 10px;
  background-color: #e0e0e0;
  margin-top: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.refreshButton {
  font-size: 6vw;
  font-family: "Annie Use Your Telescope";
  border-radius: 10px;
  background: #e0e0e0;
  margin-top: 20px;
}
.buttons {
  text-align: center;
  width: 20%;
  margin-left: 15%;
}

.startpage__division {
  display: none;
}

.popUpWrapper {
  visibility: hidden;
  background-color: #1b1c1db8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.popUp {
  align-items: center;
  justify-content: center;
  font-family: "Annie Use Your Telescope";
  border-radius: 50%;
  border: 8px solid rgb(6, 97, 18);
  background: rgb(62, 170, 94);
  display: flex;
  width: 30%;
  height: 100px;
  margin: 0 auto;
  font-size: 10vw;
}

.popUpWrapper.show {
  visibility: visible;
}
